<ion-header>
    <ion-navbar>
        <button ion-button [menuToggle]="activeMenu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'USERPROFILE.TITLE' | translate }}</ion-title>
    </ion-navbar>      
</ion-header>

<ion-content class="card-background-page">
    <ion-card *ngIf="user | async as userdata">
        <!-- <figure class="circle"> -->
            <img src="{{ userdata.photoURL }}"/>
            <!-- <img-loader useImg src="{{ userdata.photoURL }}"></img-loader> -->
        <!-- </figure> -->
        <ion-card-content>
            <ion-card-title>{{ userdata.displayName }}</ion-card-title>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="userStatus">
        <ion-card-content>
                <ion-list>
                    <button ion-item>
                        <ion-icon name="camera" item-start></ion-icon>
                        {{ 'USERPROFILE.CHANGEPHOTO' | translate }}
                    </button>
                    <button ion-item>
                        <ion-icon name="happy" item-start></ion-icon>
                        {{ 'USERPROFILE.CHANGEDISPLAYNAME' | translate }}
                    </button>
                </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>