page-userprofile {
    ion-card {
        display: flex;
        flex-direction: column;
        align-items: center;

        ion-card-title {
            text-align: center;
        }
        ion-card-content {
            width: 100%;
        }
    }
}