.separator {
    color: #222;
    margin: 1em auto;
    font-size: 1.5em;
}

ion-img{
    background: transparent;
    height: 200px;
    width: 200px;
    img {
        height: 100%;
        width: 100%;
        margin: 3em auto;
    }
}

page-signin {
    .content {
        background: linear-gradient(#00bbff, #1753ea)
    }
}