.separator {
    color: #222;
    margin: 1em auto;
    font-size: 1.5em;
}

page-signinorsignup {
    img {
        height: 30%;
        margin: 3em auto;
    }

    .content {
        background: linear-gradient(#e56109, #f22b2b)
    }
}