<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>{{ 'MENU.MENU' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button *ngIf="!userStatus" ion-item menuClose (click)="menuNavigation(signUpPage)">
                <ion-icon name="key" item-start></ion-icon> 
                {{ 'MENU.SIGNIN' | translate }}
            </button>
            <button ion-item menuClose (click)="menuNavigation(appSettingsPage)">
                <ion-icon name="settings" item-start></ion-icon> 
                {{ 'MENU.APPSETTINGS' | translate }}
            </button>
        </ion-list>

        <ion-list *ngIf="userStatus">
            <button ion-item menuClose icon-start (click)="logout()">
                <ion-icon name="power" item-start></ion-icon> 
                {{ 'MENU.LOGOUT' | translate }}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>